.signin-wrapper {
    .signin-content {
        // padding-top: 50px;
        // padding-bottom: 50px;

        .signin-form {
            box-shadow: 0px 0px 12px 4px rgba(17, 82, 87, 0.2);
            border-radius: $border-radius-40;

            .featured-signin {
                .form-wrapper {
                    align-items: space-between;

                    .form-cpassword {
                        padding-top: 45px;

                        .Mui-focused fieldset {
                            border-color: $dark-green !important;
                        }
                    }

                    .form-btn {
                        button {
                            border-radius: 3px;
                            border: none;
                            padding: 12px 0;
                        }
                    }

                    .form-errors {
                        padding-top: 4px;
                        gap: 7px;
                    }
                }
            }

            .newPassword-heading {
                padding-top: 45px;
                padding-bottom: 50px;
            }
        }
    }


    .successful-message {
        h2 {
            padding-bottom: 28px;
        }

        p {
            padding-top: 5px;
        }
    }
}

@media screen and (max-width: 690px) {
    .signin-wrapper {
        .successful-message {
            h2 {
                font-size: 40px !important;
                line-height: 48px !important;
            }

            p {
                font-size: 20px;
            }
        }
    }
}