// Font Family
$font-source-sans-pro: "Source Sans Pro";

// #################### Colors ####################
$primary-color: #0f5156;
$secondary-color: #34bc85;
$dark-green: #198754;
$blue-color: #00a9be;
$dark-red: #dc3545;
$dark-color: #343a40;
$white-color: #ffffff;
$black-color: #000000;
$btn-color: linear-gradient(90deg, #34bc85 0%, #289d6e 100%);
$gray-color: #cccccc;
$label-color: #6c757d;
$yellow-color: #ffc107;
$dark-blue-color: #247BC1;
$dark-yellow-color: #F99D13;
$dark-gray-color: #434242;


$bg-white-shadow: -8px 8px 12px rgba(218, 222, 232, 0.4);
$light-white-color: #fafafa;
$light-black-color: #333333;

$bg-main-body: #f6f7fc;
$sub-menu: #083B3F;
// #################### Headings ####################
$fs-100: 100px;
$fs-72: 4.5rem;
$fs-72-r: 3rem;
$fs-56: 56px;
$fs-40: 40px;
$fs-36: 36px;
$fs-29: 29px;
$fs-24: 24px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-10: 10px;
$fs-36: 36px;

// #################### Headings #################### 


// #################### Font Weights #################### 

$fw-900: 900;
$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;

// #################### line-height #################### 

$lh-95: 95px;
$lh-48: 48px;
$lh-20: 20px;
$lh-48: 48px;
$lh-32: 32px;
$lh-24: 24px;
$lh-64: 64px;
$lh-35: 35px;

// #################### line-heights ####################

// #################### border-radius ####################
$border-radius-40: 40px;