@import '../../../styles/variables.scss';

.forgot-wrapper {
    .forgot-password {
        padding-top: 45px;

        .form-heading {
            h2 {
                line-height: 64px;
                margin: 0;
            }

            p {
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }

        .forgot-email-input {
            border-radius: 3px !important;
            font-size: $fs-18 !important;
            color: $dark-color !important;
            margin-top: 3px !important;
            height: 56px !important;
            max-width: 590px;


            .MuiInputBase-formControl {
                font-family: $font-source-sans-pro !important;
                color: $dark-color !important;
                line-height: $lh-24 !important;
                font-size: $fs-18;
                font-weight: $fw-400;
                height: 56px !important;
                max-width: 590px;
            }

            .user-icon {
                // to avoid next automatically set the width and height, both width and max-width are to be set,  will not work if remove any of them.
                width: 24px !important;
                height: 24px !important;
                max-width: 24px !important;
                max-height: 24px !important;
            }

            .Mui-focused fieldset {
                border-color: $dark-green !important;
            }

        }

        .form-errors {
            top: 100%;
        }

        .forgot-btn {
            padding-top: 50px;

            button {
                border-radius: 3px;
                border: none;
                padding: 12px 0;
            }
        }

        .create-account {
            a {
                color: $secondary-color;
                text-decoration: none;
            }
        }
    }

    .email-show {
        a {
            color: $secondary-color;
            text-decoration: none;
        }

        .email-show-paragraph {
            padding-top: 32px;
        }

        .email-back-btn {
            padding-top: 20px;
        }
    }
}

@media screen and (max-width: 690px) {

    .forgot-password {
        .form-heading {
            h2 {
                font-size: 40px !important;
                line-height: 40px !important;
            }

            p {
                font-size: 20px;
            }
        }
    }
}