.wrapper-rnd-expert-collections {
  border: 1px solid #dadee8;
  padding: 22px 30px 2px 30px;

  .wrap-rnd-expert-collections-table {
    padding: 12px;
    margin-top: 0px;
  }

  h2 {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper-rnd-expert-collections .wrap-rnd-expert-collection-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .wrapper-rnd-expert-collections .rnd-expert-admin-table {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 850px) {
  .wrapper-rnd-expert-collections .wrap-rnd-expert-collection-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .wrapper-rnd-expert-collections .rnd-expert-admin-table {
    margin-top: 16px;
  }
}
