.clients {
  margin: 0%;

  .clients-main {
    background: #ffffff;
    border: 1px solid #dadee8;
    border-radius: 8px;
  }

  .add-client {
    padding: 12px 36px !important;
    border: none;
    border-radius: 3px;
  }
}