.wrap-question-sixty-two{
    .question-remember {
        color: #0f5156;
        opacity: 0.5;
      }
    
      .input-disabled {
        background: #f1f1f1;
        border: 1px solid #cccccc;
      }
}