@import "/src/styles/variables";

.wrapper-user-guide {
    font-family: $font-source-sans-pro;
    background: $white-color;
    border: 1px solid #DADEE8;
    box-shadow: $bg-white-shadow;
    // padding-left: 2em !important;
    // padding-top: 1.3em !important;
    padding: 20px 30px 10px 30px !important;

    .wrapper-user-guide h3 {
        font-family: $font-source-sans-pro;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .heading {
        padding-top: 2px;
    }

    .user-guide-input-search {
        position: relative;
        // margin-top: 2px;
        width: 400px !important;
        height: 54px !important;
    }

    .user-guide-input-search input {
        text-indent: 10px;
        background: $white-color;
        outline: none;
        padding: 0px 20px 0px 50px;
        box-sizing: border-box;
        border: 1px solid #DADEE8;
        height: 54px;
        width: 400px;
        border: 1px solid #DADEE8;
        color: $dark-color;


        &::placeholder {
            opacity: 0.5;
            color: $dark-color;
            font-weight: $fw-600;
            font-size: $fs-16;
            font-family: $font-source-sans-pro;
        }

        &:hover {
            border-color: $dark-green;
            outline: none;
        }
    }


    .user-guide-icon {
        position: absolute;
        top: 18px;
        left: 15px;
    }

    .wrap-userGuide-quesions-ans {
        padding-top: 0px;
        width: 100%;
        height: 378px;
        overflow-y: scroll;
        padding-right: 17px;
        /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box;
        /* So the width will be 100% + 17px */
    }

    .wrapper-user-guide-questions-answer {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .user-guide-question {
        h2 {
            font-family: $font-source-sans-pro;
            font-style: normal;
        }
    }

    .heading h4 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .user-guide-answers {
        white-space: pre-line;
    }

    .element-menu {
        list-style: none;
        padding-left: 15px;

        .element-list {
            position: relative;
            display: flex;
            padding-left: 10px;

            &::before {
                content: '';
                position: absolute;
                border: 2px solid #6A346C;
                ;
                border-radius: 50px;
                width: 8px;
                height: 8px;
                left: -14px;
                top: 7px;
                right: 10px;
            }
        }

    }

    .sub-list-option {
        position: relative;
        display: flex;

        &::before {
            content: '';
            position: absolute;
            border: 2px solid #6A346C;
            ;
            border-radius: 50px;
            width: 4px;
            height: 4px;
            left: 17px;
            top: 32px;
            display: block;

        }
    }

    .sub-list-Rdec {
        padding-left: 30px;

    }

    .user-guide-ans {
        margin-left: 0px;
    }

    .user-guide-text {
        margin-left: 0px;

        .answer-heading {
            max-width: 1190px;
        }

        .answer-listlabel {
            max-width: 1180px;
        }

        .answer-accountingPeriodLabel {
            max-width: 1160px;
        }

        .description {
            max-width: 1170px;
        }

        .support-rdec {
            max-width: 915px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .wrapper-user-guide .user-guide-input-search input {
        width: 100%;
    }

    .user-guide-icon {
        position: absolute;
        top: 33px;
        left: 17px;
    }

    .wrapper-user-guide {
        h3 {
            line-height: 40px;
        }

    }
}

@media only screen and (max-width: 350px) {
    .wrapper-user-guide .user-guide-input-search input {
        width: 100%;
    }
}