.inbox-wrapper {
    border: 1px solid #cccccc;
    border-radius: 8px;
    .text-capitalize {
        text-transform: capitalize;
    }

    input::-webkit-input-placeholder {
        color: #343a40;
        opacity: 0.5;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .m-0 {
        margin: 0;
    }

    .mt-1 {
        margin-top: 10px;
    }

    .mb-1 {
        margin-bottom: 10px;
    }

    .width-150 {
        width: 150px;
    }

    .position-absolute {
        position: absolute;
    }

    .d-flex {
        display: flex;
    }

    .opacity-5 {
        opacity: 0.5;
    }

    .inbox-container-wrapper {
        min-height: 70vh;
        height: auto;
    }

    .total-message {
        margin: 0;
    }

    // .left-bar {
    //     width: 100%;
    //     max-width: 319px;
    // }

    .chat-message-input {
        outline: none;
        border: none;
        width: 100%;
        resize: none;
        height: auto;
        font-family: "Source Sans Pro";
        padding-top: 10px;
    }

    .online-sign {
        height: 8px;
        width: 8px;
        background-color: #34bc85;
        border-radius: 50%;
        display: inline-block;
        margin-top: 4px;
    }
    .active-chat {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .custom-scroll {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #cacaca;
            border-radius: 10px;
        }
    }
    @media screen and (max-width: 380px) {
        .emoji-div {
            left: -60px;
            width: 28%;
        }
        .chat-logo {
            width: 80%;
        }
    }
    @media screen and (max-width: 430px) {
        .chat-logo {
            width: 80%;
        }
    }

    @media screen and (max-width: 585px) {
        .inbox-container-wrapper {
            min-height: 50vh;
        }
    }

    @media screen and (max-width: 900px) {
        .inbox-container-wrapper {
            min-height: 40vh;
        }

        .chat-message-input {
            width: 100%;
        }

        .hide-chat {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }

    @media screen and (max-width: 1200px) {
        .chat-message-section .chat-message-section-inner {
            flex-wrap: wrap !important;
        }
    }
}
