.Claims {
  .claims-main {
    background: #ffffff;
    border: 1px solid #dadee8;
    border-radius: 8px;
  }
  .add-claims {
    padding: 12px 35.5px;
    border: none;
    border-radius: 3px;
  }
  .archive-claims {
    padding: 12px 35.5px;
    border: 1px solid #0f5156;
    border-radius: 3px;
    background: none;
  }

  .claims-ml{
    margin-left: 10px;
    }
    .claims-mr{
        margin-right: 15px;
    }
    
}
